body {
    font-family: arial;
    background: #EBEDEF;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


@media (min-width: 768px) {
    .container {
        display: grid;
        grid-template-columns: auto 1fr 500px;
        grid-template-rows: auto 1fr auto;

    }

    footer {
        display: none;
    }


}

.slider {
    left: 0.01px;
}

@media (max-width: 768px) {

    nav {
        display: none;
    }

    aside {
        position: absolute;
        left: -700px;
        height: 100%;
        transition: all 0.7s ease;
        background: white
    }

    footer {
        grid-column: span 3;
        padding: 30px;
        text-align: center;
        font-size: 1.4em;
        background-color: #ffffff;
        color: white;
    }

    footer .footer-content {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: auto;
    }

    header .content-head .ctn:nth-child(even) {
        margin-right: 200px;
        display: none;
    }

}

header {
    border: 2px solid whitesmoke;
    grid-column: span 3;
    padding: 30px;
    text-align: center;
    font-size: 1.4em;
    background-color: #ffffff;
    color: black;
}

header .content-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header .content-head .ctn:nth-child(4) {
    margin-right: 200px
}


main {
    flex: 1;
    padding: 20px;
}

main .image {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

nav {
    background-color: #ffffff;
    padding: 20px;
    width: auto
}

nav ul {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    margin-top: -40px;
    list-style: none;
}


nav ul li {
    padding-top: 40px;
}


img {
    width: 100%;
    display: block;
}


aside {
    padding: 20px;
    background-color: #ffff;
}

aside .content-aside {
    margin: 100px auto;
    padding: 50px;
}


h1 {
    margin-bottom: 1em;
    font-size: 1.3em;
    font-weight: bold;
}

